*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	
	height: 100vh;
	background-size: contain;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
	transition: 0.6s ease;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: inherit;
	width: 160px;
	height: initial;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #C36341;
	font-size: 70px;
}